<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="Fase: #{adivinharNumeroMB.fase}"/>
            <br/>
            <h:outputText value="Tentativas: #{adivinharNumeroMB.tentativas}"/>
            <br/>
            <h:inputText value="#{adivinharNumeroMB.number}"/>
            <h:commandButton value="Adivinhar" action="#{adivinharNumeroMB.tentar()}"/>
            <br/>
            <h:outputText value="#{adivinharNumeroMB.msg}"/>
            <br/>
            <h:commandButton value="Novo jogo" action="#{adivinharNumeroMB.novoJogo()}"/>
        </h:form>
    </h:body>
</html>

